body {
	background:url(../images/left_bg.gif) no-repeat fixed;
	font-size:12px;
	color:#000;
	}
.menu{
	width:160px;
	margin-left:auto;
	margin-right:auto;
	}
.menu dl {
	border:1px solid #555;
	background-color:#FFF;
	padding:0px;
	margin-top:2px;
	}
.menu dt {
	background:url(../images/bg_list.gif);
	height:20px;
	padding:8px 0 0 10px;
	}
.menu dl dd ul{
	list-style:none;
	}
.menu dl .top{
color:#FFF;
font-weight:bold;
font-size:15px;
text-decoration:none;
}
.menu dl dd{
padding-left:0px;margin-left:0px;
}
.menu dl dd ul li{
padding-left:0px;margin-left:0px;
}
.menu dl dd ul li a{
    color:#000;
	height:27px;
	display:block;
	line-height:27px;
	text-indent:28px;
	background:#F0F0F0;
	border-color:#FFF #545454 #545454 #FFF;
	border-style:solid;
	border-width:1px;
	background:#F0F0F0 url(../images/ico_2.gif) no-repeat 13px 11px;
}
.menu ul{margin-left:-40px;}
.menu dl dd ul li a:hover{
	background:#FFF url(../images/ico_3.gif) no-repeat 13px 11px;
	color:#FF6600;
}